@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

.home-page {
  font-family: 'Sora', sans-serif;
  background-color: #E7E7E8;
  display: flex;
  flex-direction: column;
}

.hero {
  text-align: center;
  padding: 4rem 0;
}

.title {
  text-align: center;
  margin: 2rem 0;
  font-weight: 400;
}

.cards-row {
  display: flex;
  justify-content: space-between; /* Ajusta para space-between para garantir o espaçamento correto */
  margin-top: 2rem;
}

.cards-row > .recipe-card { /* Você precisará adicionar a classe 'recipe-card' aos componentes Card no JSX */
  flex: 1;
}

.recipe-card.large { /* Classe para o card grande */
  flex: 0 0 65%; /* 65% da linha */
  max-width: 65%;
}

.recipe-card.small { /* Classe para o card pequeno */
  flex: 0 0 35%; /* 35% da linha */
  max-width: 35%;
}

.recipe-card {
  flex: 0 0 calc(55% - 20px); /* Reduzido para 55% menos o espaçamento */
  margin-right: 20px; /* Espaçamento entre os cards */
  margin-left: 20px; /* Espaçamento à esquerda do card de receita */
}

.cards-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%; /* Certifica que os cards repetidos também ocupem 65% */
  margin-top: 2rem;
}


.filter-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #FCA311;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.search-bar-wrapper {
  padding: 0 15px; /* Adicione espaçamento conforme necessário */
}

.cards-layout {
  display: flex;
  justify-content: space-between; /* Isso garantirá que haja espaço entre os cards */
  margin: 20px 0;
}