@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card-wrapper {
  flex: 0 1 calc(50% - 12.5px);
  margin-bottom: 25px;
  border-radius: 8px;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card-img {
  max-width: 200px;
  height: auto;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    justify-content: flex-start;
    padding: 0 15px;
  }

  .card-wrapper {
    flex: 0 1 calc(50% - 12.5px);
  }
}

@media (max-width: 576px) {
  .container {
    gap: 15px;
  }

  .card-wrapper {
    flex: 0 1 calc(100% - 12.5px);
  }
}
